// font
$font-family: 'Inter', Arial, sans-serif;
// color palette
$text-color: #2A3135;
$basic-gray: #868C90;
$secondary-gray: #DCE0E2;
$backgroun-color: #F3F5F9;
$fusion-red-light: #Fc5C65;
$fusion-red-dark: #EB3B5A;
$reptile-green-light: #26DE81;
$reptile-green-dark: #20BF6B;
// sizes
$offset: 32px;


